

<mat-card>
  <form [formGroup]="form" (submit)="onSaveProject()" >
    <mat-form-field>
      <input matInput type="text"
    formControlName="title"
    placeholder="Title">
    <mat-error *ngIf="form.get('title').invalid">Provide a project Title</mat-error>
    </mat-form-field> 
    <div>
      <button mat-stroked-button type="button" (click)="filepicker.click()"> Select an Image</button>
      <input type="file" #filepicker>
    </div>
    <mat-form-field>
      <textarea matInput rows="6" 
      formControlName="content"
       placeholder="Content"></textarea>
      <mat-error *ngIf="form.get('content').invalid">Provide a project description </mat-error>
    </mat-form-field>
    <button mat-raised-button
     color="accent"
    type="submit">Save Project</button>
  </form>
  
</mat-card>

